{% extends "base.html" %}

{% block content %}
<div style="background:LightGray;">
<div class="container">
	<form class="form-inline" action="/createconfig/" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
		<div class="form-group">
			<label class="sr-only" for="config_file">Upload Configuration File</label>
			<input id="config_file" name="config_file" class="input-file" type="file" placeholder="Configuration File">
		</div>
		<input type="submit" class="btn btn-primary" value=" Submit "/>
		<a href="/home/" class="btn btn-danger" > Cancel </a>
	</form>
</div>
</div>
<br>
{% endblock %}

